# --- Dependências ---
node_modules/

# --- Builds de Produção  ---
dist/
build/


# --- Variáveis de Ambiente  ---
.env
.env.*.local
*.env

# --- Logs de Erro ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# --- Arquivos de Sistema e IDE  ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Testes e Cobertura ---
coverage/

# --- Docker  ---
.docker/
postgres_data/

# Arquivos de Teste HTTP (REST Client)
api.rest
*.rest
*.http