version: '3.8'
services:
  db:
    image: postgres:15
    container_name: fleet_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: fleet_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: